{% extends "layout.html" %}
{% block body_content %}
	<h1>Home</h1>
    <h2>Band Generator</h2>
    
    <div>Band Name: {{ band['name'] }}</div>
    <div>Genre: {{ band['genre'] }}</div>
    <div>Popularity (out of 100): {{ band['popularity'] }}</div>
    <div>Pretentiousness (out of 100): {{ band['pretentiousness'] }}</div>
    <div>Members: 
    {% for member in band['members'] %} 
        <p>{{ member }}</p>
    {% endfor %}
    </div>

	<form method="POST" action="">
        <div class="form-group">
            {{ generate_number.submit }}
        </div>
    </form>
{% endblock body_content %}