{% extends "layout.html" %}
{% block body_content %}
    <div><p style="text-align:center;"><b>Band Name: </b>{{ band['name'] }}</p></div>
    <div><p style="text-align:center;"><b>Genre: </b>{{ band['genre'] }}</p></div>
    <div><p style="text-align:center;"><b>Popularity (out of 100): </b>{{ band['popularity'] }}</p></div>
    <div><p style="text-align:center;"><b>Pretentiousness (out of 100): </b>{{ band['pretentiousness'] }}</p></div>
    <div><p style="text-align:center;"><b>Members: </b><br>
    {% for member in band['members'] %} 
        - {{ member }}<br>
    {% endfor %}
	    </p style="text-align:center;">
    </div>

	<form method="POST" action="" style="text-align:center;">
        <div class="form-group">
            {{ generate_band.submit }}
        </div>
    </form>
{% endblock body_content %}
